@font-face {
  font-family: Euphoria script;
  src: url("/assets/fonts/EuphoriaScript-Regular.ttf") format("trueType");
}
.sidenav-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.logo {
  width: 150px;
  margin-bottom: 38%;
  position: absolute;
  display: flex;
  align-self: center;
  @media screen and (max-width: 766px) {
    display: flex;
    margin-bottom: 60vh;
  }
  @media screen and (min-width: 767px) and (max-width: 991px) {
    margin-bottom: 70%;
  }
  @media screen and (min-width: 992px) and (max-width: 1200px) {

  }
}


.projects{
  position: absolute;
  width: 90%;
  margin: auto;
  margin-top: 15%;
  margin-left: 5%;
}

.form_contact{
  position: absolute;
  width: 90%;
  margin-top: 55%;
  margin-bottom: 15%;
  margin-left: 5%;
}
