<div class="sidenav-content" >
  <div id="bg-img"></div>
  <img id="logo" src="../../../../assets/images/Logo.svg" alt="logo elle code">
      <div class="block-presentation">

      <p id="text-presentation">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ratione consequuntur consectetur reprehenderit optio cumque,
        ab, nihil omnis dignissimos pariatur eaque quod odio laboriosam excepturi esse,
        sequi magnam ad asperiores! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quasi dignissimos veritatis reprehenderit consequuntur molestiae velit suscipit sapiente fugit,
        libero cumque mollitia a error modi,
        officia, quas vero tenetur. Impedit, possimus?</p>
        <img width="200" id="img-presentation"src="../../../assets/images/Ellipse2.png" alt="ma tête">

      </div>
      <mat-card  class="group-card">
        <mat-card-content>
        <img id="card-bleue" width="260" src="../../../assets/images/card-bleu.png" alt="">
        <img id="card-verte" width="300"  src="../../../assets/images/Group-cardviolet-vert.png" alt="">
        <h2 id="titre-bienvenue" >Bienvenue</h2>
        <p id="text-group">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Ratione consequuntur consectetur reprehenderit optio cumque,
          ab, nihil omnis dignissimos pariatur eaque quod odio laboriosam excepturi esse,</p>

        </mat-card-content>

      </mat-card>


    </div>
