<div class="card_home_content" style="position: relative">
  <mat-card-content class="container_home_content">
    <div class="presentation" style="margin-top: 50px">
      <app-card-presentation></app-card-presentation>
    </div>
    <div style="margin-top: 100px; " class="bienvenue">
      <app-card-bienvenue></app-card-bienvenue>
    </div>
    <div class="projects">
      <app-galery-projects></app-galery-projects>
    </div>
    <div class="form_contact">
      <app-form-contact></app-form-contact>
    </div>
  </mat-card-content>
</div>
