.footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 200px;
  bottom: 0;
  background-color: #cdb4db;
  text-align: center;
  margin-top: 800vh;
  z-index: -2;
}

.fa-brands {
  box-shadow: 5px 5px 15px #271f2c69;
}
