<!--

<ul class="galery">
  <li class="galery_item"><a href="https://pharmacy-dupont.web.app/accueil" target="_blank"><img class="galery_img"  height="200" src="../../../assets/images/pharmacy_dupont.jpg" alt="site pharmarcie dupont"></a></li>
  <li class="galery_item"><a href="https://ecf-sport.herokuapp.com/" target="_blank"><img class="galery_img" height="200"  src="../../../assets/images/api-sport.jpg" alt="site api sport"></a></li>
  <li class="galery_item"><a href="https://ellecode.web.app/home" target="_blank"><img class="galery_img" height="200" src="../../../assets/images/blog.jpg" alt="site blog personnel"></a></li>
</ul>
</div>-->

<div class="galery_projects_container">
  <h2 class="title_projects">Projets</h2>
  <section class="galery">
    <div class="container">
      <div class="card">
        <div class="image">
          <a href="https://pharmacy-dupont.web.app/accueil "target="_blank">
            <img
              href="#"
              src="../../../assets/images/pharmacy_dupont.jpg"
              alt="site pharmarcie dupont"
          /></a>
        </div>
        <div class="content">
          <h3>Pharmacy dupont</h3>
          <p>
            Site vitrine pour une pharmacie frontalière, avec traduction en 3
            langues.
          </p>
          <p class="p2">
            <i class="fa-solid fa-code" style="font-weight: bold;"></i>&nbsp; &nbsp; Angular.js, Ngx-Translate, Angular Material.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card">
        <div class="image">
          <a href="https://ecf-sport.herokuapp.com/" target="_blank"
            ><img
              href="#"
              src="../../../assets/images/api-sport.jpg"
              alt="site salle de sport"
          /></a>
        </div>
        <div class="content">
          <h3>Api sport</h3>
          <p>
            Site complet avec Back-Office administrateur, CRUDs, espace personnel
            pour les clients.
          </p>
          <p class="p2">
            <i class="fa-solid fa-code" style="font-weight: bold;"></i>&nbsp; Symfony / PHP, Bootstrap, Javascript, Mysql, Mariadb.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card">
        <div class="image">
          <a href="https://ellecode.web.app/home" target="_blank"
            ><img href="#" src="../../../assets/images/blog.jpg"
            alt="site blog personnel"/></a>
        </div>
        <div class="content">
          <h3>Blog</h3>
          <p>
            Le site où vous etes actuellement, mon blog personnel pour présenter
            mes projets.
          </p>
          <p class="p2">  <i class="fa-solid fa-code" style="font-weight: bold"></i>&nbsp; Angular.js, Chart.js, Firebase.</p>
        </div>
      </div>
    </div>
  </section>
</div>
