.example-container {
  width:100%;
  height:100%;
  background-color: #FFffff;
  position: relative;
  background-image: url("../../../../assets/images/Vector1.svg");
  background-repeat: no-repeat;
  background-size:cover ;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  background-color: #CDB4DB;
  width: 250px;
}


#container-nav{
position: relative;
}


.block-presentation{
  display: flex;
  align-items: center;
  max-width: 650px;
  margin-bottom: 15%;
}
#img-presentation{
  border-radius: 50%;
  float: right;
  shape-outside: margin-box;
  margin: 0% 0% 0% 10%;
  object-fit: cover;


#bg-img{
  background-image: url('../../../../assets/images/bg.png');
}
}
#text-presentation{
  line-height: 1.4;
}


#logo{
  width: 100px;
 margin-bottom: 40%;
 position: absolute;
}

#logo-nav{
  width: 100px;
  margin-left: 30%;
}


.group-card{
  position: absolute;
  margin-top: 40%;
  margin-left: 5%;
  width: 800px;
  height: 250px;
}

#card-bleue{
position:absolute;
}

#card-verte{
position: absolute;
}

#titre-bienvenue{
  position: absolute;
  margin-left: 50%;
  font-family: 'Euphoria Script';
  font-size: 3rem;
  transform: rotate(-12.31deg);
  margin-top: 1%;
  font-weight: bold;
}

#text-group{
  position: absolute;
  float: left;
  shape-outside: margin-box;
  margin-left: 50%;
  margin-top: 10%;
}

.navbar__button__ensavoirplus{
  position: absolute;
  margin:5%;

}
.navbar__button__poursuivre{
  margin-top: 5%;
  display: flex;
  align-self: center;
  margin-left: 25%;
}
