.nav-container {
  width: 100%;
  height: 100%;
  left: auto;
  position: relative;
  
}

.nav-sidenav {
  background-color: #cdb4db;
  width: 250px;
  height: auto;

  @media screen and (max-width: 576px) {
    position: absolute;
    width: 100%;
    height: 100vh;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    margin-left: 0;
  }
}

.logo-nav {
  width: 100px;
  margin-left: 30%;
  @media screen and (max-width: 576px) {
    margin-top: 5%;
    margin-left: 38%;
  }
}

.navbar__button__ensavoirplus {
  position: fixed;
  margin: 5%;
  z-index: 999;
  @media screen and (max-width: 576px) {
    margin-right: 50%;
  }
}
.navbar__button__poursuivre {
  margin-top: 5%;
  display: flex;
  align-self: center;
  margin-left: 25%;

  @media screen and (max-width: 576px) {
    margin-top: 10%;
    margin-left: 35%;
    visibility: hidden;
  }
}
#navbar__button__close {
  display: flex;
  align-self: flex-end;
  justify-self: end;
  opacity: 0.2;
  @media screen and (min-width: 576px) {
    visibility: hidden;
  }
}
.navbar__button__close {
  font-size: 40px;
}
