.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  @media screen and (max-width: 766px) {
    margin-top: 10%;
    width: 75%;
    margin-left:3%;
  }
  @media screen and (min-width: 767px) and (max-width: 991px) {
    margin-bottom: 70%;
  }
}

.container::after {
  content: "";
  display: block;
  clear: both;
}
.container h2 {
  font-family: "Euphoria Script";
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 50px;
}
.container p {
  line-height: 1.6;
  font-size: medium;
}
img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  float: left;
  shape-outside: margin-box;
  margin: 0 20px 5px 0;
}
