<div class="container_card">
  <h2>A propos de moi</h2>
  <img
    height="250"
    class="img-presentation"
    src="/assets/images/Ellipse2.png"
    alt="photo de sabrina"
    matTooltip=" L'image est générée par une IA, à partir d’une de mes photos."
    aria-label="Button that displays a tooltip when focused or hovered over"
  />
  <h3 style="font-weight: bold; font-size: 2em;  font-family: Rimon Dustin; font-style:italic">Sabrina,</h3>
  <p style="font-weight: semi-bold; font-size: 1.3em;  font-family: Rimon Dustin">
    freelance
    Développeuse d’application & site web responsive.
    Specialiste en debogage et support.
    J ‘ai une préférence pour Angular.js, Java et Python.
  </p>
  <p style="font-weight: semi-bold; font-size: 1.3em;  font-family: Rimon Dustin">
    <strong>Passionnée d'informatique depuis toujours</strong>, Je passe beaucoup de mon temps libre sur mon ordinateur,
    à faire de la veille technologique afin de me tenir à jour et de voir aussi les tendances du marché dans mon secteur et niveau mondial.

  </p>
  <p style="font-weight: semi-bold; font-size: 1.3em;  font-family: Rimon Dustin">
    Je tente d'élargir mes compétences dans pas mal d'autre domaine au quotidien, autre que le développement et ca me plait!
  </p>
</div>
