<div class="container_card">
  <h2>A propos de moi</h2>
  <img
    height="250"
    class="img-presentation"
    src="/assets/images/Ellipse2.png"
    alt="ma tête"
    matTooltip=" L'image est générée par une ia, à partir d’une de mes photos."
    aria-label="Button that displays a tooltip when focused or hovered over"
  />
  <h3 style="font-weight: bold; font-size: 2em;  font-family: Rimon Dustin">Sabrina,</h3>
  <p style="font-weight: semi-bold; font-size: 1.3em;  font-family: Rimon Dustin">
     Jeune maman (depuis 2019 quand même) en poste de secrétaire
    médicale, en 2021 j'entreprends de reprendre mes études pour devenir
    développeuse d’application.
  </p>
  <p style="font-weight: semi-bold; font-size: 1.3em;  font-family: Rimon Dustin">
    <strong>Passionnée d'informatique depuis toujours</strong>, mon entourage me trouve douée pour
    ça et sans m'en rendre compte je suis devenue l'agent technique de tout le
    monde. J'ai décidé en 2021 de faire de ma passion une belle expérience
    d'apprentissage en débutant une formation.
  </p>
  <p style="font-weight: semi-bold; font-size: 1.3em;  font-family: Rimon Dustin">
    Dans ce blog je détail mon parcours professionnel, mes projets mais aussi
    des passages personnels ou je parle de ma vie d'étudiante, et de maman en
    poste.
  </p>
</div>
