.form__container {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: center;
  background-image: url("/assets/images/groupe_bulle.png");
  background-size: cover;
  box-shadow: 15px 10px 15px 5px rgba(0, 0, 0, 0.215);
  padding: 5%;
  border-radius: 15px;
  @media (max-width: 766px) {
    margin-top: 80%;
    min-width: 95%;
    width: 95%;
    margin-bottom: 10%;
  }
  @media screen and (min-width: 767px) and (max-width: 991px) {
    min-width: 90%;
    margin-top:50vh;
  }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    max-width: 80%;
  }
}
mat-form-field {
  width: 50%;
  @media (max-width: 766px) {
    width: 90%;
    margin: auto;
  }
}
.container__img__form {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-self: flex-end;
  margin-left: 60%;
  border-radius: 50%;
  border: solid 15px #cdb4db46;
  opacity: 0.9;
  @media (max-width: 766px) {
    visibility: hidden;
  }

  @media screen and (min-width: 992px) and (max-width: 1200px) {
    visibility: visible;
  }
}
.title__form {
  font-family: "Euphoria Script";
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 5%;
}
