
<div class="form__container">
  <h2 class="title__form">Contactez-moi</h2>
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Prénom</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Votre message</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field>
<mat-select placeholder="Type de projet">
    <mat-option [value]="">Refonte</mat-option>
    <mat-option [value]="">Création de site vitrine</mat-option>
    <mat-option [value]="">Création de E-Commerce</mat-option>
    <mat-option [value]="">Dépannage</mat-option>
</mat-select>

</mat-form-field>

<div class="button_send_container"><button class="button_send" mat-button>Envoyer</button></div>
    <img class="container__img__form" width="200" src="../../../../assets/images/DALL-E.png" alt="">


</div>
