<div class="projects__container">
  <h2 class="projects__title">Experiences</h2></div>
<div class="timeline">
  <article>
    <h2>Phamracy Dupont</h2>
    <strong>Angular</strong>, <em>Juillet 2023</em>
    <p>Site vitrine pour une pharamcie à la frontière suisse, traduit en 3 langues</p>
    <p>Typescript, Figma, Trello, Angular material, Localize ngx translate i18n, Git, Sonarcloud, Jasmine , Commitlint</p>
  </article>
  <article>
    <h2>Application Bancaire</h2>
    <strong>Angular/Java </strong>, <em>Avril – Juillet 2023</em>
    <p>Développement d'une application bancaire sécurisée</p>
    <p> Angular matérial,
      Git,
      Figma,
      Django,
      Java spring boot,
      Lombok,
      Hivernate.</p>
  </article>
  <article>
    <h2>Scan Bio</h2>
    <strong>Python</strong>, <em>Mars – Avril 2023</em>
    <p>Développement d’une application de traduction de termes médicaux possibilité de scanner des fichiers pdf.</p>
  <p>Dfminer</p>
  </article>
  <article>
    <h2>Marianne Juret</h2>
    <strong>Symfony</strong>, <em>Juillet – Septembre 2022</em>
    <p>Développement d’une application complète élaboration et mise en œuvre des composants et de la gestion du contenu. Pour une cliente nutritionniste.</p>
    <p>Apache
      PHP / Symfony
      Doctrine
      Webpack encore
      Xamp
      Figma
      Git
      Trello </p>
  </article>
  <article>
    <h2>Api sport</h2>
    <strong>Symfony</strong>, <em>Décembre 2021 – juin 2022</em>
    <p>Développement d’application complète, élaboration et mise en œuvre des composants de gestion de contenu. </p>
    <p>Apache
PHP /Symfony
Doctrine
Git
Figma
Heroku
Trello </p>
  </article>
</div>
