<div class="card__langages__container">
  <mat-card class="card__langages">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Typescript</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>
<mat-card class="card__langages">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Javascript</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>
<mat-card class="card__langages">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Php | symfony</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>
<mat-card class="card__langages">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Angular</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>
<mat-card class="card__langages">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Java | Springboot</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>
<mat-card class="card__langages">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Python | Django</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>
<mat-card class="card__langages">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Mysql</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>
<mat-card class="card__langages">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Git</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>
</div>
