<mat-card class="group_card" >
  <mat-card-content>
    <img
      class="card-bleue"
      width="260"
      src="/assets/images/card-bleu.png"
      alt=""
    />
    <img
      class="card-verte"
      width="300"
      src="/assets/images/Group-cardviolet-vert.png"
      alt=""
    />
    <h2 class="titre-bienvenue">Bienvenue</h2>
    <p class="text_group" style="font-size: 1.3em; font-family: Rimon Dustin;">
      Ici, je vous invite à découvrir mes passions, mes apprentissages et mes
      réflexions personnelles. Je met a disposition une collection de
      ressources sélectionnées qui m'ont aidé à acquérir de nouvelles
      compétences et à approfondir mes connaissances. De plus, je partage mes
      réflexions sur des sujets qui me tiennent à cœur. Explorez ce lieu
      d'échange où je mets en lumière mes projets, mes réussites, et parfois
      même mes échecs, dans le but de grandir et d'évoluer continuellement.
    </p>

  </mat-card-content>
</mat-card>
