<mat-card class="group_card" >
  <mat-card-content>
    <img
      class="card-bleue"
      width="260"
      src="/assets/images/card-bleu.png"
      alt=""
    />
    <img
      class="card-verte"
      width="300"
      src="/assets/images/Group-cardviolet-vert.png"
      alt=""
    />
    <h2 class="titre-bienvenue">Bienvenue</h2>
    <p class="text_group" style="font-size: 1.3em; font-family: Rimon Dustin;">
      Dans le blog "ElleCode", On ne parle pas que de moi mais aussi du serveur discord que j'anime
      où il y a plein de developpeurs.
      Dans l’arrière boutique de ce blog vous y trouverez la déscription du discord et la possibilité de l'intégrer et présentation de sa toute nouvelle chaine Youtube.
    </p>



  </mat-card-content>
</mat-card>
