.formation__group__card{
  position: absolute;
  margin-left: 25%;
  margin-top: 10%;
  width: 800px;
  height: 250px;
  margin-bottom: 5%;
  background-color: #cdb4db47;
}
.titre__formation__card{
  font-family: 'Euphoria Script';
  font-size: 3rem;
}
